<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>
</head>

<section class="titulo-computadores">
    <div class="grid">
        <h1 class="Computadores">Computadores</h1>
    </div>
</section>

<section class="conteudo-computadores">
    <div class="grid">
        

        <div class="produtos-computadores-1">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Gamer 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Gamer</div>
                </div>
                <div class="card-3">
                    <h2 class="description"> AMD Ryzen 7 5800X3D, Radeon RX 6600 XT 8GB, 16GB DDR4, SSD M.2 512GB
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Gamer 2.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Gamer</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Intel I5-10400F, Geforce GTX 1650 4GB, 16GB DDR4, HD 1TB</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>
<div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Workstation 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Workstation</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Intel Core I3-10100F, Quadro T400 4GB, 16GB DDR4, HD 2TB + SSD 240GB
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>
        </div>
        </div>

        <div class="produtos-computadores-2">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Workstation 2.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Workstation</div>
                </div>
                <div class="card-3">
                    <h2 class="description">AMD Ryzen 9 5900X, Geforce RTX 3060 12GB, 16GB DDR4, HD 2TB + SSD 240GB
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Casa e escritório 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Casa e Escritório</div>
                </div>
                <div class="card-3">
                    <h2 class="description">AMD Ryzen 5 4600G, 8GB DDR4, SSD 240GB</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Gamer 3.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Gamer</div>
                </div>
                <div class="card-3">
                    <h2 class="description">AMD Ryzen 5 4500, Radeon RX 6600 8GB, 16GB DDR4, SSD M.2 500GB</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>
            </div>
        </div>

        <div class="produtos-computadores-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Casa e escritório 2.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Casa e Escritório</div>
                </div>
                <div class="card-3">
                    <h2 class="description">AMD Ryzen 3 4100, Geforce GT 610 2GB, 8GB DDR4, SSD 240GB</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Gamer 4.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Gamer</div>
                </div>
                <div class="card-3">
                    <h2 class="description">AMD Ryzen 3 3200G, 8GB DDR4, SSD 120GB</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>

            <div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Computadores/Workstation 3.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Workstation</div>
                </div>
                <div class="card-3">
                    <h2 class="description">AMD Ryzen 5 5600, Quadro T1000 4GB, 16GB DDR4, HD 2TB + SSD 120GB</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>
            </div>
        </div>

        <div class="paginas">
            <div class="tamanho-icones">
                <a href="computadores" class="icone-1"></a>
                <a href="computadores2" class="icone-2"></a>
                <a href="computadores3" class="icone-3"></a>
            </div>
        </div>

    </div>
</section>
