<section class="login">
    <div class="grid alinhamento-login">
        <div class="moldura">
            <img src="assets/img/Login/Login.svg">
            <div class="infos-login">
                <div class="linha"></div>
                Login
                <div class=" linha"></div>
            </div>

            <form  class="loginInput" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="email">
                    <input style="color: white" class="e-mail" type="email" placeholder="E-mail" [(ngModel)]="loginModel.email" name="email">
                 </div>
                 <div>
                    <input style="color: white" class="senha" type="password" placeholder="Senha" [(ngModel)]="loginModel.password" name="password">
                </div>
                 <div class="lembrar-senha">
                <input type="checkbox" class="lembrar"> Lembrar-me
            </div>
            
            <input (click)="enviar()" id="enviar" type="submit" value="enviar" class="enviar">
            </form>
            <a href="" class="esqueci">Esqueci minha senha</a>
            <p id="mensagem" *ngIf="mensagem !='' ">{{ mensagem }}</p>
            
            <div class="login-com">
                <div class="linha"></div>
                Login com
                <div class=" linha"></div>
            </div>
            <div class="icones-login">
                <a href=""><img src="assets/img/Login/twitter.svg" alt="Twitter"> </a>
                <a href=""><img src="assets/img/Login/facebook1.svg" alt="Facebook"> </a>
                <a href=""><img src="assets/img/Login/Google.svg" alt="Google"> </a>
            </div>
            <div class="criar-conta">
                Ainda não é cadastrado? <br>
                <a href="" class="criar">Criar conta</a>
            </div>
            
        </div>
    </div>

</section>