
<section class="body">
    <div class="grid alinhamento">
        <div class="formulario">
            <form class="loginInput" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="formulario-infos">
                    <p class="login">Login</p>
                    <div class="icones">
                        <a href="#"> <img src="assets/img/Login/google.svg"> </a>
                        <a href="#"> <img src="assets/img/Login/facebook.svg"> </a>
                        <a href="#"> <img src="assets/img/Login/twitter.svg"> </a>
                    </div>
                </div>

                <div class="campo-email">
                    <p class="email">Email</p>
                    <input type="text" class="email-input" placeholder="Email" [(ngModel)]="loginModel.email" name="email">
                </div>

                <div class="campo-senha">
                    <p class="senha">Senha</p>
                    <input type="password" class="senha-input" placeholder="Senha" [(ngModel)]="loginModel.password" name="password">
                </div>
                
                <input (click)="enviar()" id="enviar" type="submit" value="enviar" class="logar">

                <div class="outros">
                <p class="lembrar"> <input type="checkbox"> Lembrar-me </p>
                <a href="#" class="esqueci-senha">Esqueci minha senha</a>
                </div>
            </form>
        </div>
        
        <p id="mensagem" *ngIf="mensagem !='' ">{{ mensagem }}</p>


        
      
        <div class="criar-conta">
            <div class="conteudo">
                <p class="bem-vindo">Bem-vindo!</p>
                <p class="pergunta">Não possui uma conta?</p>
                <button type="button" class="criar">Criar conta</button>
            </div>
        </div>
    </div>
    



</section>




<!--<section class="login">
            <form  class="loginInput" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="email">
                    <input style="color: white" class="e-mail" type="email" placeholder="E-mail" [(ngModel)]="loginModel.email" name="email">
                 </div>
                 <div>
                    <input style="color: white" class="senha" type="password" placeholder="Senha" [(ngModel)]="loginModel.password" name="password">
                </div>
                 <div class="lembrar-senha">
                <input type="checkbox" class="lembrar"> Lembrar-me
            </div>
            
            <input (click)="enviar()" id="enviar" type="submit" value="enviar" class="enviar">
            </form>
            <a href="" class="esqueci">Esqueci minha senha</a>
            <p id="mensagem" *ngIf="mensagem !='' ">{{ mensagem }}</p>
            
            <div class="login-com">
                <div class="linha"></div>
                Login com
                <div class=" linha"></div>
            </div>
            <div class="icones-login">
                <a href=""><img src="assets/img/Login/twitter.svg" alt="Twitter"> </a>
                <a href=""><img src="assets/img/Login/facebook1.svg" alt="Facebook"> </a>
                <a href=""><img src="assets/img/Login/Google.svg" alt="Google"> </a>
            </div>
            <div class="criar-conta">
                Ainda não é cadastrado? <br>
                <a href="" class="criar">Criar conta</a>
            </div>
            
        </div>
    </div> -->