<section class="banner">
    <h1 class="tablets">Tablets</h1>
</section>

<section class="filtro">
    <div class="grid">
        <div class="itens-filtro">
            <div class="alinhar">
                <div> <a href="#" >Organizar por <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
                <div> <a href="#"> <img src="assets/img/Icones/filter.svg" class="filter"> Filtro <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
            </div>
        </div>
    </div>
</section>

<section class="produtos">
    <div class="grid alinhamento">
    
        <div class="linha-1">
            <div class="card-1">
                <a href="tablet1"> <div class="img-1"> 
                    <a href="tablet1" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Samsung Galaxy A7 Lite</p>
                        <p class="subtitulo">Samsung</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-2">
                <a href="tablet2">
                <div class="img-2">
                    <a href="tablet2" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Samsung Galaxy Tab S6 </p>
                        <p class="subtitulo">Samsung</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-3">
                <a href="tablet3">
                <div class="img-3">
                    <a href="tablet3" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Samsung Galaxy Tab A8</p>
                        <p class="subtitulo">Samsung</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-2">
            <div class="card-4">
                <a href="tablet4">
                <div class="img-4">
                    <a href="tablet4" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Samsung Galaxy Tab S7 FE</p>
                        <p class="subtitulo">Samsung/p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-5">
                <a href="tablet5">
                <div class="img-5">
                    <a href="tablet5" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Motorola Moto G70</p>
                        <p class="subtitulo">Motorola</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-6">
                <a href="tablet6">
                <div class="img-6">
                    <a href="tablet6" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Xiaomi Pad 5</p>
                        <p class="subtitulo">Xiaomi</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-3">
            <div class="card-7">
                <a href="tablet7">
                <div class="img-7">
                    <a href="tablet7" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Xiaomi Pad 5</p>
                        <p class="subtitulo">Xiaomi</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-8">
                <a href="tablet8">
                <div class="img-8">
                    <a href="tablet8" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">iPad 7</p>
                        <p class="subtitulo">Apple</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
            
            <div class="card-2">
                <a href="tablet9">
                <div class="img-9">
                    <a href="tablet9" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">iPad Pro</p>
                        <p class="subtitulo">Apple</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>
    </div>
</section>

<section class="paginas">
    <div class="alinhamento-paginas">
        <img src="assets/img/Icones/arrow-left.svg" class="seta"> 
        <a href="tablets"> <p class="pagina1">1</p> </a>
        <a href="#"> <p class="pagina">2</p> </a>
        <a href="#"> <p class="pagina">3</p> </a>
        <img src="assets/img/Icones/arrow-right.svg" class="seta"> 
    </div>
</section>