/* Título */ 

.titulo-tablets {
    height: 910px;
    background-image: url(/assets/img/Tablets/Tablets-capa.svg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.tablets {
    text-transform: uppercase;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 128px;
    color: #D2E9E3;

    display: flex;
    justify-content: center;
}

/* Fundo */  

.fundo {
    background: linear-gradient(180deg, #091C32 0%, #0B1E32 6.25%, #0E2133 16.22%, #112333 23.96%, #132534 31.79%, #162834 40.1%, #192A34 47.8%, #1B2C35 54.69%, #1D2E35 62.69%, #203135 71.35%, #243436 82.77%, #293937 100%);
    height: 2300px;
    display: flex;
    justify-content: center;
    
}

/* Produtos */  

.linha-1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    padding-bottom: 88px;
}

.card {
    width: 320px;
    height: 300px;
    background-color: white;

    border-radius: 20px 20px 0px 0px;
}

.um {
    background-image: url(/assets/img/Tablets/tablet-1.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

#favorite {
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.tipo {
    width: 320px;
    height: 55px;
    background-color: #FFCB9B;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nomeTipo {
    margin: 0px;
}

.descricao {
    width: 320px;
    height: 243px;
    background-color: black;

    border-radius: 0px 0px 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.description {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color: white;
    text-align:justify;

    width: 243px;
    display: flex;
    justify-content: center;
}

.preco {
    font-family: 'Nunito', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: #D2E9E3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comprar {
    width: 150px;
    background-color: #D2E9E3 ;
    translate: 66px;
}

.carrinho {
    margin-left: 90px;
}


.dois {
    background-image: url(/assets/img/Tablets/tablet-2.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

.preco.antigo {
    color:rgb(223, 27, 27);
    padding: 0;
    font-size: 14px;
}

.preco.novo {
    padding-top: 0;
    padding-bottom: 5px;
}

.tres {
    background-image: url(/assets/img/Tablets/tablet-3.svg);
    background-repeat: no-repeat;
    background-position: center ;
}


.linha-2 {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    padding-top: 88px;
    padding-bottom: 88px;
}

.dois-um {
    background-image: url(/assets/img/Tablets/tablet-4.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

.dois-dois {
    background-image: url(/assets/img/Tablets/tablet-5.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

.dois-tres {
    background-image: url(/assets/img/Tablets/tablet-6.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

.linha-3 {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    padding-top: 88px;
}

.tres-um {
    background-image: url(/assets/img/Tablets/tablet-7.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

.tres-dois {
    background-image: url(/assets/img/Tablets/tablet-8.svg);
    background-repeat: no-repeat;
    background-position: center ;
}

.tres-tres {
    background-image: url(/assets/img/Tablets/tablet-9.svg);
    background-repeat: no-repeat;
    background-position: center ;
}


/* Ícones das páginas */  

.paginas {
    height: 50px;
    padding-top: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tamanho-icones {
    width: 91px;

    display: flex;
    justify-content: center;
}

.icone-1 {
    width: 10px;
    height: 10px;
    border-radius: 100%;

    background-color: black;
}

/* Media Queries */  

@media screen and (max-width:1230px) {
    .grid {
        width: 1024px;
    }

}

@media screen and (max-width:1054px) {
    .grid {
        width: 768px;
    }

}


@media screen and (max-width:790px) {
    .grid {
        width: 480px;
    }

    .tablets {
        font-size: 110px;
    }

}

@media screen and (max-width:687px) {
    
    .tablets {
        font-size: 80px;
    }
}