<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>
</head>

<section class="titulo-tablets">
    <div class="grid">
        <h1 class="tablets">Tablets</h1>
    </div>
</section>

<section class="conteudo-tablets">
    <div class="grid">
        
        <div class="produtos-tablets-1">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Samsung</div>
                </div>
                <div class="card-3">
                    <h2 class="description"> Tablet Samsung Galaxy A7 Lite 8,7” 4G Wi-Fi 32GB - MediaTek MT8768T Câm. 8MP
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-2-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Samsung</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Tablet Samsung Galaxy Tab S6 Lite com Caneta - Android 12 4G 10,4” Wi-Fi 128GB Octa-Core 5MP</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>
<div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-3-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Samsung</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Tablet Samsung Galaxy Tab A8 10,5” 4G - Wi-Fi 64GB Android 11.0 Câm. 8MP + Selfie 5MP
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>
        </div>
        </div>

        <div class="produtos-tablets-2">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-4-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Samsung</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Tablet Samsung Galaxy Tab S7 FE 12,4” 4G Wi-Fi - 128GB Android Câm. 8MP + Selfie 5MP
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-5-1-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Motorola</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Tablet Motorola Moto G70 Wi-Fi 64GB Aqua Platinum TB-J616F</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-6-3 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Xiaomi</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Tablet Xiaomi Pad 5 128GB 11" Android 13 MP Filma em 4K</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>
            </div>
        </div>

        <div class="produtos-tablets-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-7-2 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Xiaomi</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Tablet Xiaomi Pad 5 11 128gb Branco 6gb De Memória Ram,pearl White - Branco</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-2 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Apple</div>
                </div>
                <div class="card-3">
                    <h2 class="description">iPad 7 Apple com Wi-fi 32GB, Tela 10.2", Bluetooth, GPS, Câmera 8MP, FaceTime HD e iPadOS - Dourado</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>

            <div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Tablets/tablet-9-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Apple</div>
                </div>
                <div class="card-3">
                    <h2 class="description">iPad Pro Apple, Tela Liquid Retina 11", 2TB, Prata, Processador M1, Wi-Fi - MHR33BZ/A</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>
            </div>
        </div>

        <div class="paginas">
            <div class="tamanho-icones">
                <a href="tablets" class="icone-1"></a>
                <a href="tablets2" class="icone-2"></a>
            </div>
        </div>

    </div>
</section>
