.body {
    height: 1200px;
}

.links {
    padding-top: 50px;
    padding-bottom: 50px;
}

.link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #8E8E8E;

}

.linkAtual {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.conteudo {
    position: absolute;
    width: 624px;
    height: 710px;
    overflow: hidden;
    top: 25%;
    
}

.slides {
    display: flex;
    width: 600%;
}

.slide {
    width: 16,66666666666667%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    position: absolute;
}

.navigation img {
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation img:hover {
    border-color: blue;
}

input {
   display: none;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -16%;
}

#slide3:checked ~ .s1 {
    margin-left: -32%;
}

#slide4:checked ~ .s1 {
    margin-left: -48%;
}

#slide5:checked ~ .s1 {
    margin-left: -64%;
}

#slide6:checked ~ .s1 {
    margin-left: -80%;
}


.alinhamento {
    display: flex;
    height: 969px;
    justify-content: space-between;
 }

 .produtos{
    display: flex;
    flex-direction: column;
    transform: translateY(150px);
 }
 
 .titulo {
    display: flex;
 }

 h1 {
    font-family: 'Lato', sans-serif;
    width: 400;
    font-size: 32px;
    margin-right: 100px;
 }

 #favorito {
    width: 32px;
    cursor: pointer;
    transform: translateY(-8.5px);
 }

 h2 {
    font-family: 'Lato', sans-serif;
    width: 300;
    font-size: 22px;
 }

 #star-1, #star-2, #star-3, #star-4, #star-5 {
    width: 16px;

    padding-bottom: 16px;
 }

 .quantidade {
    display: flex;
 }

 #menos {
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-bottom: 1px solid black;
   border-top-left-radius: 16px;
   border-bottom-left-radius: 16px;
   padding-left: 5px;
   padding-right: 5px;
   height: 28px;
   cursor: pointer;
 }

 #qtd {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

 }
 
 #mais {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 28px;
    cursor: pointer;
 }



 #adicionarAoCarrinho {
    margin-left: 200px;
    background-color: #091C32;
    color: white;
    width: 273px;
    height: 44px;
    border-radius: 15px;
    transform: translateY(-47px);
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
 }

 #Produto {
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
 }

 .conteudo {
    font-family: 'Work Sans', sans-serif;
 }


 .botao-favorito {
    border: none;
    transition: 0.7s;
 }

 #star-1-half, #star-2-half, #star-3-half, #star-4-half, #star-5-half {
   width: 8px;
   height: 16px;
   cursor: pointer;  
   border: none ;
 }

 #star-1-fill, #star-2-fill, #star-3-fill, #star-4-fill, #star-5-fill {
   translate: 0px -16px;
   width: 8px;
   height: 16px;
   opacity: 0%;
   cursor: pointer;
 }