<script src="assets/js/jquery-3.6.1.js" defer></script>
<script src="assets/js/categorias.js" defer> </script>

<section class="categorias">
    <div class="grid">
        <div class="titulo-categorias">
            Categorias
        </div>

        <div class="computadores reveal">
            <img src="assets/img/Categorias/PC.svg">
            <div class="subitens-l">
                <a class="pc" href="computadores">
                    <h2>Computadores</h2>
                </a>
                <h3>
                    <ul>
                        <li> Gamer</li>
                        <li> Workstation</li>
                        <li> Casa e Escritório</li>
                    </ul>
                </h3>
            </div>
        </div>

        <div class="Notebooks reveal">
            <div class="subitens-r">
                <a class="notebooks" href="notebooks"><h2>Notebooks</h2></a>
                <h3>
                    <ul>
                        <li> Gamer</li>
                        <li> Workstation</li>
                        <li> Casa e Escritório</li>
                    </ul>
                </h3>
            </div>
            <img src="assets/img/Categorias/Notebooks.svg">
        </div>

        <div class="tablets reveal">
            <img src="assets/img/Categorias/Tablets.svg">
            <div class="subitens-l1">
                <a class="tablets" href="tablets"><h2>Tablets</h2></a>
                <h3>
                    <ul>
                        <li> Apple</li>
                        <li> Samsung</li>
                        <li> Xiaomi</li>
                    </ul>
                </h3>
            </div>
        </div>

        <div class="celulares reveal">
            <div class="subitens-r1">
                <a class="celulares" href="celulares"><h2>Celulares</h2></a>
                <h3>
                    <ul>
                        <li> Apple</li>
                        <li> Xiaomi</li>
                        <li> Samsung</li>
                        <li> LG</li>
                        <li> Motorola</li>
                    </ul>
                </h3>
            </div>
            <img src="assets/img/Categorias/Celulares.svg">
        </div>

        <div class="videogames reveal">
            <img src="assets/img/Categorias/Videogames.svg">
            <div class="subitens-l2">
                <a class="videogames" href="videogames"><h2>Videogames</h2></a>
                <h3>
                    <ul>
                        <li> Sony</li>
                        <li> Nintendo</li>
                        <li> Microsoft</li>
                    </ul>
                </h3>
            </div>
        </div>

        <div class="acessorios reveal">
            <div class="subitens-r2">
                <h2>Acessórios</h2>
            </div>
            <img src="assets/img/Categorias/Acessorios.svg">
        </div>


    </div>
</section>
