.body {
    background-color: #424242;
    height: 925px;

    display: flex;
    align-items: center;
}

.alinhamento {
    display: flex;
    justify-content: center;
}

.popup {
    height: 552px;
    width: 552px;
    background-color: #F5F5F5;
}