<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>
</head>

<section class="titulo-videogames">
    <div class="grid">
        <h1 class="videogames">Videogames</h1>
    </div>
</section>

<section class="conteudo-videogames">
    <div class="grid">
        
        <div class="produtos-videogames-1">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-1-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Microsoft</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Xbox Series S 500gb Ssd
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-2-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Microsoft</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Xbox Series X 1tb</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>
<div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-3-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Nintendo</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Nintendo Switch Oled - Branco
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>
        </div>
        </div>

        <div class="produtos-videogames-2">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-4-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Nintendo</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Nintendo Switch 32Gb Vermelho e Azul Neon
                    </h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-5-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Nintendo</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Nintendo Switch Lite Turquesa</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-6-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Sony</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Playstation 5 + Game Horizon Forbidden West + Headset Sem Fio Pulse 3D Midnight Black - PS5</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>
            </div>
        </div>

        <div class="produtos-videogames-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-7-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Nintendo</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Nintendo Switch Lite Azul</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>

            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-8-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Sony</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Playstation 5 + FIFA 23 + Controle Dualsense Playstation 5</h2>
                    <div class="preço2"> <del>R$ XXXX,XX</del></div>
                    <div class="preçonovo">R$ YYYY,YY</div>
                </div>
            </div>

            <div class="prod-3">
            <div class="produto-1">
                <div class="card-1">
                    <img src="assets/img/Videogames/videogame-9-1 1.svg">
                </div>
                <div class="card-2">
                    <div class="gamer">Microsoft</div>
                </div>
                <div class="card-3">
                    <h2 class="description">Xbox Series S 512GB ssd Fortnite Rocket League Fall Guys RRS-00076</h2>
                    <div class="preço"> R$ XXXX,XX </div>
                </div>
            </div>
            </div>
        </div>

        <div class="paginas">
            <div class="tamanho-icones">
                <a href="videogames" class="icone-1"></a>
            </div>
        </div>

    </div>
</section>
