<section class="banner">
    <h1 class="videogames">Videogames</h1>
</section>

<section class="filtro">
    <div class="grid">
        <div class="itens-filtro">
            <div class="alinhar">
                <div> <a href="#" >Organizar por <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
                <div> <a href="#"> <img src="assets/img/Icones/filter.svg" class="filter"> Filtro <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
            </div>
        </div>
    </div>
</section>

<section class="produtos">
    <div class="grid alinhamento">
    
        <div class="linha-1">
            <div class="card-1">
                <a href="videogame1"> <div class="img-1"> 
                    <a href="videogame1" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Xbox Series S</p>
                        <p class="subtitulo">Microsoft</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-2">
                <a href="videogame2">
                <div class="img-2">
                    <a href="videogame2" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Xbox Series X</p>
                        <p class="subtitulo">Microsoft</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-3">
                <a href="videogame3">
                <div class="img-3">
                    <a href="videogame3" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Nintendo Switch Oled</p>
                        <p class="subtitulo">Nintendo</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-2">
            <div class="card-4">
                <a href="videogame4">
                <div class="img-4">
                    <a href="videogame4" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Nintendo Switch 32Gb</p>
                        <p class="subtitulo">Nintendo</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-5">
                <a href="videogame5">
                <div class="img-5">
                    <a href="videogame5" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Nintendo Switch Lite </p>
                        <p class="subtitulo">Nintendo</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-6">
                <a href="videogame6">
                <div class="img-6">
                    <a href="videogame6" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Playstation 5 + Headset Pulse 3D</p>
                        <p class="subtitulo">Sony</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>
        </div>
    </div>
</section>

<section class="paginas">
    <div class="alinhamento-paginas">
        <img src="assets/img/Icones/arrow-left.svg" class="seta"> 
        <a href="videogames"> <p class="pagina1">1</p> </a>
        <a href="#"> <p class="pagina">2</p> </a>
        <a href="#"> <p class="pagina">3</p> </a>
        <img src="assets/img/Icones/arrow-right.svg" class="seta"> 
    </div>
</section>