<section class="banner">
    <h1 class="computadores">Computadores</h1>
</section>

<section class="filtro">
    <div class="grid">
        <div class="itens-filtro">
            <div class="alinhar">
                <div> <a href="#" >Organizar por <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
                <div> <a href="#"> <img src="assets/img/Icones/filter.svg" class="filter"> Filtro <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
            </div>
        </div>
    </div>
</section>

<section class="produtos">
    <div class="grid alinhamento">
    
        <div class="linha-1">
            <div class="card-1">
                <a href="computador1"> <div class="img-1"> 
                    <a href="computador1" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD Ryzen 7 5800X3D</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-2">
                <a href="computador2">
                <div class="img-2">
                    <a href="computador2" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">INTEL I5-10400F</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-3">
                <a href="computador3">
                <div class="img-3">
                    <a href="computador3" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">INTEL CORE I3-10100F</p>
                        <p class="subtitulo">Workstation</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-2">
            <div class="card-4">
                <a href="computador4">
                <div class="img-4">
                    <a href="computador4" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD RYZEN 9 5900X </p>
                        <p class="subtitulo">Workstation</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-5">
                <a href="computador5">
                <div class="img-5">
                    <a href="computador5" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD RYZEN 5 4600G</p>
                        <p class="subtitulo">Casa e Escritório</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-6">
                <a href="computador6">
                <div class="img-6">
                    <a href="computador6" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD RYZEN 5 4500</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-3">
            <div class="card-7">
                <a href="computador7">
                <div class="img-7">
                    <a href="computador7" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD RYZEN 3 4100</p>
                        <p class="subtitulo">Casa e Escritório</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-8">
                <a href="computador8">
                <div class="img-8">
                    <a href="computador8" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD RYZEN 3 3200G</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
            
            <div class="card-2">
                <a href="computador9">
                <div class="img-9">
                    <a href="computador9" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">AMD RYZEN 5 5600</p>
                        <p class="subtitulo">Workstation</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>
    </div>
</section>

<section class="paginas">
    <div class="alinhamento-paginas">
        <img src="assets/img/Icones/arrow-left.svg" class="seta"> 
        <a href="computadores"> <p class="pagina1">1</p> </a>
        <a href="#"> <p class="pagina">2</p> </a>
        <a href="#"> <p class="pagina">3</p> </a>
        <img src="assets/img/Icones/arrow-right.svg" class="seta"> 
    </div>
</section>