<section class="banner">
    <h1 class="celulares">Celulares</h1>
</section>

<section class="filtro">
    <div class="grid">
        <div class="itens-filtro">
            <div class="alinhar">
                <div> <a href="#" >Organizar por <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
                <div> <a href="#"> <img src="assets/img/Icones/filter.svg" class="filter"> Filtro <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
            </div>
        </div>
    </div>
</section>

<section class="produtos">
    <div class="grid alinhamento">
    
        <div class="linha-1">
            <div class="card-1">
                <a href="celular1"> <div class="img-1"> 
                    <a href="celular1" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Galaxy Z Flip4</p>
                        <p class="subtitulo">Samsung</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-2">
                <a href="celular2">
                <div class="img-2">
                    <a href="celular2" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Galaxy Z Fold4</p>
                        <p class="subtitulo">Samsung</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-3">
                <a href="celular3">
                <div class="img-3">
                    <a href="celular3" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Edge 30 Ultra</p>
                        <p class="subtitulo">Motorola</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-2">
            <div class="card-4">
                <a href="celular4">
                <div class="img-4">
                    <a href="celular4" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Edge 30 Fusion</p>
                        <p class="subtitulo">Motorola</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-5">
                <a href="celular5">
                <div class="img-5">
                    <a href="celular5" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">VELVET™</p>
                        <p class="subtitulo">LG</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-6">
                <a href="celular6">
                <div class="img-6">
                    <a href="celular6" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">K71</p>
                        <p class="subtitulo">LG</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-3">
            <div class="card-7">
                <a href="celular7">
                <div class="img-7">
                    <a href="celular7" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Iphone 14 Pro Max</p>
                        <p class="subtitulo">Apple</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-8">
                <a href="celular8">
                <div class="img-8">
                    <a href="celular8" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Xiaomi 12</p>
                        <p class="subtitulo">Xiaomi</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
            
            <div class="card-2">
                <a href="celular9">
                <div class="img-9">
                    <a href="celular9" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Redmi Note 11 PRO</p>
                        <p class="subtitulo">Xiaomi</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>
    </div>
</section>

<section class="paginas">
    <div class="alinhamento-paginas">
        <img src="assets/img/Icones/arrow-left.svg" class="seta"> 
        <a href="celulares"> <p class="pagina1">1</p> </a>
        <a href="#"> <p class="pagina">2</p> </a>
        <a href="#"> <p class="pagina">3</p> </a>
        <img src="assets/img/Icones/arrow-right.svg" class="seta"> 
    </div>
</section>