<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>
    <script src="assets/js/jquery-3.6.1.js" defer></script>
    <script src="assets/js/script.js" defer> </script> 
</head>


<section id="carrossel" class="banner banner-1">
    <div class="grid posicionamentoBanner">
        <div class="conteudoBanner">
            <h1>Flash<br><br>Sale</h1> <br>
            <a class="shopNow" href="">Shop Now</a>
        </div>
    </div>
</section>

<section class="marcas">
    <div class="container d-flex justify-content-between align-items-center posicionamento-marcas">
        <a href=""><img src="assets/img/Home/Destaque/apple.svg" alt="Logo da Apple"></a>
        <a href=""><img src="assets/img/Home/Destaque/corsair.svg" alt="Logo da Corsair"></a>
        <a href=""><img src="assets/img/Home/Destaque/dell.svg" alt="Logo da Dell"></a>
        <a href=""><img src="assets/img/Home/Destaque/microsoft.svg" alt="Logo da Microsoft"></a>
        <a href=""><img src="assets/img/Home/Destaque/nintendo.svg" alt="Logo da Nintendo"></a>
        <a href=""><img src="assets/img/Home/Destaque/razer.svg" alt="Logo da Razer"></a>
        <a href=""><img src="assets/img/Home/Destaque/samsung.svg" alt="Logo da Samsung"></a>
        <a href=""><img src="assets/img/Home/Destaque/sony.svg" alt="Logo da Sony"></a>
    </div>
</section>

<section class="grid container text-center">
    <div produtos>
        <div class="row align-items-start ">
            <div class="col top pc-gamer">
                <h1 class="produtos">PC Gamer</h1>
                <a href=""><img src="assets/img/Home/pcgamer.svg" alt="Computador Gamer" style="border-radius: 20px;"></a>
            </div>
            <div class="col top notebooks">
                <h1 class="produtos">Notebooks</h1>
                <a href=""><img src="assets/img/Home/notebook.svg" alt="Notebooks" style="border-radius: 20px;"></a>
            </div>
        </div>
        <div class="row align-items-center ">
            <div class="col mid tablet">
                <h1 class="produtos">Tablets</h1>
                <a href=""><img src="assets/img/Home/tablet.svg" alt="Tablets" style="border-radius: 20px;"></a>
            </div>
            <div class="col mid celular">
                <h1 class="produtos">Celulares</h1>
                <a href=""><img src="assets/img/Home/celulares.svg" alt="Celulares" style="border-radius: 20px;"></a>
            </div>
        </div>
        <div class="row align-items-end ">
            <div class="col bottom videogame">
                <h1 class="produtos">Videogames</h1>
                <a href=""><img src="assets/img/Home/videogames.svg" alt="Videogames" style="border-radius: 20px;"></a>
            </div>
            <div class="col bottom acessorio">
                <h1 class="produtos">Acessórios</h1>
                <a href=""><img src="assets/img/Home/acessorios.svg" alt="Acessórios" style="border-radius: 20px;"></a>
            </div>
        </div>
    </div>
</section>