.banner {
    height: 945px;
    background-color: black;
    display: flex;
    align-items: center;
}

.alinhamento {
    display: flex;
    justify-content: space-around;
}

.promocao {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 96px;
    padding: 45px;
}

.shopNow {
    width: 180px;
    height: 40px;
    border-radius: 50px;
    background-color: #D2E9E3;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 16px;

    box-shadow: 0 0 5x #D2E9E3,
    0 0 25px #D2E9E3;

    transition: 0.5s;

    border: none;
}

.shopNow:hover {
    box-shadow: 0 0 5px #D2E9E3,
    0 0 25px #D2E9E3, 0 0 50px #D2E9E3,
    0 0 100px #D2E9E3, 0 0 200px #D2E9E3;

    border: none;
    font-weight: 700;
}

.comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo {
    transform: translateY(-75px);
}

.marcas {
    height: 446px;
    display: flex;
    align-items: center;
}

.titulo-marcas {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 37px;
    color: #58595B;
    text-align: center;
    padding-bottom: 63px;
}

.img-marcas{
    opacity: 50%;
    transition: 0.5s;
}

.img-marcas:hover{
    opacity: 100%;
}

.imagens {
    height: 2060px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-1 {
    display: flex;
    justify-content: space-between;
}

.linha-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.linha-3 {
    display: flex;
    justify-content: space-between;
}

.linha-3-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.badges {
    height: 684px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badges-img {
    width: 1036px;
    display: flex;
    justify-content: space-between;
}

.medalha {
    color: #58595B;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;

    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.envio {
    color: #58595B;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;

    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dinheiro {
    color: #58595B;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;

    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.medalha-img {
    width: 100px;
}

.caminhao-img {
    width: 100px;
}

.dinheiro-img {
    width: 100px;
}

.newsletter {
    height: 141px;
    background-color: #141414;
    display: flex;
    align-items: center;
}

.texto {
    color: #F5F5F5;
}

.texto-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.texto-2 {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.alinhar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    width: 345px;
    height: 40px;
    outline: 0;
    padding-left: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    border-radius: 7px 0 0 7px;
}


.inscrever {
    width: 466px;
    height: 40px;
    background-color: wheat;
    border-radius: 7px;
}

.cadastrar {
    background-color: #D2E9E3;
    border: none;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 121px;
    height: 40px;
    border-radius: 0 7px 7px 0;
}

.transition {
    overflow: hidden;
}

.transition img {
    transition: 0.6s;
}

.transition:hover img{
    transform: scale(1.05);
    opacity: 0.6;
}

.content {
    color: black;
}


@media screen and (max-width:1470px) {
    .grid {
        width: 1200px;
    }

    .input {
        width: 321px;
    }

    .imagens {
        height: 1716px;
    }

    .pcgamer {
        width: 591px;
    }

    .notebook {
        width: 591px;
    }

    .marcas {
        height: 371px;
    }

    .tablets {
        height: 714px;
    }

    .videogames {
        width: 794.16px;
    }

    .celulares {
        width: 389.16px;
    }

    .acessorios {
        width: 389.16px;
    }

    .badges {
        height: 570px;
    }
}

@media screen and (max-width:1245px) {
    .grid {
        width: 968px;
    }

    .input {
        width: 235.7px;
    }

    .imagens {
        height: 1470px;
    }

    .pcgamer {
        width: 475px;
    }

    .notebook {
        width: 475px;
    }

    .marcas {
        height: 278.25px;
    }

    .tablets {
        height: 600px;
    }

    .videogames {
        width: 630px;
    }

    .celulares {
        width: 320px;
    }

    .acessorios {
        width: 320px;
    }

    .badges {
        height: 427.5px;
    }

}

@media screen and (max-width:1245px) {
    .capa {
        width: 500px;
        transform: translateY(40px);
    }
}

@media screen and (max-width:1030px) {
    .marcas {
        display: none;
    }
}

@media screen and (max-width:995px) {
    .grid {
        width: 600px;
    }
}

@media screen and (max-width:630px) {
    .grid {
        width: 360px;
    }
}