@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #091C32;
    height: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    width: 1200px;
    margin: 0 auto;
}

.icons {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
}

.usuario {
    padding-right: 5px;
}

.contatos {
    padding-left: 5px;
    padding-right: 5px;
}

.facebook {
    padding-left: 5px;
    padding-right: 5px;
}

.instagram {
    padding-left: 5px;
    padding-right: 5px;
}

.carrinho {
    padding-left: 5px;
}

.barraDeBusca input[type='text'] {
    width: 464px;
    float: left;
    border: none;
    padding-left: 15px;
    border-radius: 50px 0 0 50px;
}

.barraDeBusca button {
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 5px;
}

nav {
    font-family: Work Sans;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #bcbcbc;
    transition: all .10s linear;
}

a:hover {
    color: white;
}

.outlet {
    color: rgb(200, 0, 0);
}

.outlet:hover {
    color: red
}

.banner {
    height: 576px;
    background-image: url(img/Banner.svg);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: white;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
}

.shopNow {
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    transition: all .10s linear;
}

.shopNow:hover {
    color: white;
    background-color: red;
}

.posicionamentoBanner {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.conteudoBanner {
    padding-left: 150px;
    width: 191.17;
    height: 190.18;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marcas {
    background-color: white;
    height: 50px;
}

.posicionamento-marcas {
    height: 100%;
    text-decoration: none;
}

.container {
    max-width: 1200px;
}

.produtos {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

.top {
    padding-top: 90px;
}

.mid {
    padding-top: 90px;
    padding-bottom: 90px;
}

.bottom {
    padding-bottom: 90px;
}

footer {
    height: 350px;
    background-color: black;
    display: flex;
    align-items: center;
}

.itensFooter {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.titlesFooter {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #97C3FF;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.pColor {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}

.newsletter {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.inscrever {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 20px;
}

.aFooter {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1230px) {
    .grid {
        width: 768px;
    }
}

.email input[type='text'] {
    width: 245px;
    float: left;
    border: none;
    padding-left: 15px;
    border-radius: 50px 0 0 50px;
}

.email button {
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
}

.login {
    height: 900px;
    background: linear-gradient(120deg, #52596E, #293045, #091C32, #4A6488, #223C5B);
    background-size: 300%, 300%;
    animation: colors 100s ease infinite;
    display: flex;
    align-items: center;
}

.moldura {
    width: 386px;
    height: 562px;
    border-radius: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.alinhamento {
    display: flex;
    justify-content: center;
    padding-top: 52px;
}

.alinhamento-login {
    display: flex;
    justify-content: center;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}