.header {
    background-color: #091C32;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icons {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 1200px;
}

.search-box input[type='text'] {
    width: 464px;
    float: left;
    border: none;
    padding-left: 15px;
    border-radius: 50px 0 0 50px;
    height: 22px;
}

.search-box button {
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 5px;
}

.icons-2 {
    width: 205px;

    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.menu-nav {
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    font-family: Work Sans;
}

a {
    text-decoration: none;
    color: #bcbcbc;
    transition: all .10s linear;
}

a:hover {
    color: white;
}

.outlet {
    color: rgb(200, 0, 0);
}

.outlet:hover {
    color: red
}

#menu {
    display: none;
}

.categorias {
    font-family: Work Sans;
}

@media screen and (max-width:1230px) {
    .grid {
        width: 1024px;
    }

    .icons {
        width: 1024px;
    }
}

@media screen and (max-width:1054px) {
    .grid {
        width: 768px;
    }

    .icons {
        width: 768px;
    }

    .icons-2 {
        width: 120px;
    }

    .facebook {
        display: none;
    }

    .instagram {
        display: none;
    }
    
    .search-box input[type='text'] {
        width: 200px;
    }

}

@media screen and (max-width:972px) {
    .grid {
        width: 768px;
    }
    
}

@media screen and (max-width:790px) {
    .grid {
        width: 480px;
    }

    .header {
    height: 80px;
    }

    .icons {
        width: 480px;
    }
    
    .contato {
        display: none;
    }

    .search-box {
        display: none;
    }

    #menu {
        display: inline-block;
    }

    .menu-nav {
        display: none;
    }

}