<section class="header">
    <div class="grid ">
        <div class="icones">
            <a href="index.html"><img src="assets/img/Header/Logomarca.svg" alt="Logomarca Game Mania"></a>

            <div class="icones-alinhamento">
            <nav class="links">
                <button class="categorias" mat-button [matMenuTriggerFor]="menu">Categorias</button>
                <mat-menu #menu="matMenu">
                    <a href="computadores"> <button mat-menu-item>Computadores</button> </a>
                    <a href="notebooks"> <button mat-menu-item>Notebooks</button> </a>
                    <a href="tablets"> <button mat-menu-item>Tablets</button> </a>
                    <a href="celulares"> <button mat-menu-item>Celulares</button> </a>
                    <a href="videogames"> <button mat-menu-item>Videogames</button> </a>
                    <a href="acessorios"> <button mat-menu-item>Acessórios</button> </a>
                </mat-menu>

                <button class="lancamentos" mat-button>Lançamentos</button>

                <button class="promocoes" mat-button>Promoções</button>

                <button class="seminovos" mat-button>Seminovos</button>

                <button class="outlet" mat-button>Outlet</button>
            </nav>

            <div class="botoes">
                <a href="#"> <img src="assets/img/Header/search.svg" alt="Buscar"> </a>
                <a href="login"> <img src="assets/img/Header/person.svg" alt="Login"> </a>
                <a href="#" target="_blank"> <img src="assets/img/Header/bag.svg" alt="Carrinho"> </a>
                <a class="#" href=""> <img src="assets/img/Header/heart-fill.svg" alt="Favoritos"> </a>
            </div>

            <a onclick="showMenu(event)" href="" id="menu"> <img class="menu-hamburguer" src="assets/img/Header/menu.svg" alt="Menu Bar"></a>

            </div>
        </div>
    </div>
</section>

