.header {
    background-color: #091C32;
    height: 95px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones-alinhamento {
    display: flex;
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.links {
    width: 600px;
    display: flex;
    justify-content: space-between;

    padding-right: 90px;

    text-decoration: none;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
}

.botoes {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outlet {
    color: rgb(200, 0, 0);
    transition: 0.5s;
}

.outlet:hover {
    color: red;
}

.seminovos {
    color: #F5F5F5;
    transition: 0.5s;
}

.seminovos:hover {
    color: #D2E9E3;
}

.promocoes {
    color: #F5F5F5;
    transition: 0.5s;
}

.promocoes:hover {
    color: #D2E9E3;
}

.lancamentos {
    color: #F5F5F5;
    transition: 0.5s;
}

.lancamentos:hover {
    color: #D2E9E3;
}

.categorias {
    color: #F5F5F5;
    transition: 0.5s;
}

.categorias:hover {
    color: #D2E9E3;
}

#menu {
    display: none;
}

.menu-hamburguer {
    display: none;
}

.menu-hamburguer-1 {
    display: none;
}

@media screen and (max-width:1470px) {
    .grid {
        width: 1200px;
    }
}

@media screen and (max-width:1245px) {
    .grid {
        width: 900px;
    }

    .links {
        width: 450px;
        padding-right: 30px;
    }

}

@media screen and (max-width:995px) {
    .grid {
        width: 600px;
    }

    .links {
        display: none;
    }

    .menu-hamburguer {
        display: inline-block;
    }

    .botoes {
        width: 200px;
    }
}

@media screen and (max-width:630px) {
    .grid {
        width: 360px;
    }

    .botoes {
        display: none;
    }

    .menu-hamburguer-1 {
        display: inline-block;
    }
}