<section class="body">
  <div class="grid alinhamento">
    <div class="popup">

      <div class="fechar">
        <a href="acessorios"> <img src="assets/img/Produtos/Erro/x-lg.svg"> </a>
      </div>

      <div class="produto-indisponivel">
        <p class="titulo">Produto indisponível</p>
        <p class="descricao">Coloque seu e-mail para ser notificado quando o produto estiver disponível novamente!</p>
        <input type="mail" placeholder="Email" class="email">
        <div class="linha"></div>
        <button class="enviar">Enviar</button>
      </div>
    </div>
  </div>
</section>