.banner {
    height: 540px;
    background-image: url(/assets/img/Acessorios/fundo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alinhamento {
    display: flex;
    flex-direction: column;
}

.acessorios {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 115px;
    color: #D2E9E3;
    text-transform: uppercase;
}

.filtro {
    height: 82px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}

.itens-filtro {
    display: flex;
    justify-content: end;
}

.alinhar {
    width: 243px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

.arrow-down {
    padding-left: 10px;
}

.filter {
    padding-right: 10px;
}

.produtos {
    height: 1885px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descricao {
    width: 413px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 9px;
}

.subtitulo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #58595B;
    text-transform: uppercase;
    margin: 0;
}

.preco {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    margin: 0;
}

.preco {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    margin: 0;
}

.botao {
    background-color: white;
    padding: 10px 21px 10px 21px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    opacity: 0;
    transition: 0.3s;
}

.botao:hover {
    opacity: 1;
}

.img-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio1.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-1:hover{
    background-image: url(/assets/img/Acessorios/acessorio1-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio2.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-2:hover{
    background-image: url(/assets/img/Acessorios/acessorio2-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio3.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-3:hover{
    background-image: url(/assets/img/Acessorios/acessorio3-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio4.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-4:hover{
    background-image: url(/assets/img/Acessorios/acessorio4-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio5.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-5:hover{
    background-image: url(/assets/img/Acessorios/acessorio5-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio6.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-6:hover{
    background-image: url(/assets/img/Acessorios/acessorio6-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio7.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-7:hover{
    background-image: url(/assets/img/Acessorios/acessorio7-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio8.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-8:hover{
    background-image: url(/assets/img/Acessorios/acessorio8-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 467px;
    background-image: url(/assets/img/Acessorios/acessorio9.svg);
    cursor: pointer;
    transition: 0.3s;
}

.img-9:hover{
    background-image: url(/assets/img/Acessorios/acessorio9-2.svg);
    transform: scale(1.05);
    transition: 0.5s;
}

.paginas {
    height: 36px;
    background-color: #D2E9E3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgb(180, 180, 180);
    margin: 0;
}

.pagina1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin: 0;
}

.alinhamento-paginas {
    width: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seta{
    cursor: pointer;
}   

/* Media Queries */  

@media screen and (max-width:1230px) {
    .grid {
        width: 1024px;
    }

}

@media screen and (max-width:1054px) {
    .grid {
        width: 768px;
    }

}


@media screen and (max-width:790px) {
    .grid {
        width: 480px;
    }

}

@media screen and (max-width:687px) {

}