<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>
</head>

<section class="titulo-acessorios">
    <div class="grid">
        <h1 class="acessorios">Acessórios</h1>
    </div>
</section>

<section class="fundo">
    <div class="grid">
        
        <div class="linha-1">
            <div class="acessorios-1">
                <div class="card um">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="white">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Celular</p>
                </div>
                <div class="descricao">
                    <p class="description">Estação Multi Carregamento Husky Technologies 500, Preto, 4 em 1, 15W - HTCC016</p>
                    <p class="preco">R$ XXXX,XX</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white" class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="acessorios-1">
                <div class="card dois">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="black">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Celular</p>
                </div>
                <div class="descricao">
                    <p class="description">Carregador de Tomada Apple USB-C, para iPhone e iPad, 20W, Branco - 85044021-2</p>
                    <p class="preco antigo"><s>R$ XXXX,XX</s></p>
                    <p class="preco novo">R$ YYYY,YY</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white" class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="acessorios-1">
                <div class="card tres">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="black">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Gamer</p>
                </div>
                <div class="descricao">
                    <p class="description">Controle Gaming Pad com Fio Kaiser Elite NOX Krom PS4, PS3, PC - NXKROMKSR</p>
                    <p class="preco">R$ XXXX,XX</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white"class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>  

        <div class="linha-2">
            <div class="acessorios-2">
                <div class="card dois-um">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="white">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Gamer</p>
                </div>
                <div class="descricao">
                    <p class="description">Headset Gamer HyperX Cloud Stinger, Drivers 50mm, Múltiplas Plataformas, P2 e P3 - HX-HSCS-BK/NA</p>
                    <p class="preco">R$ XXXX,XX</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white" class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="acessorios-2">
                <div class="card dois-dois">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="black">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Celular</p>
                </div>
                <div class="descricao">
                    <p class="description">Carregador Portátil Universal Geonav, 14.000mAh, Cinza Espacial - PB14KAL</p>
                    <p class="preco">R$ XXXX,XX</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white" class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="acessorios-2">
                <div class="card dois-tres">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="black">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Gamer</p>
                </div>
                <div class="descricao">
                    <p class="description">Mousepad Gamer Havit, 700x285mm, RGB, USB, Preto - MP903</p>
                    <p class="preco antigo"><s>R$ XXXX,XX</s></p>
                    <p class="preco novo">R$ YYYY,YY</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white"class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>  

        <div class="linha-3">
            <div class="acessorios-3">
                <div class="card tres-um">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="white">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Gamer</p>
                </div>
                <div class="descricao">
                    <p class="description">Carregador Oivo Charging Dock Station Controle Dualsense PS5</p>
                    <p class="preco antigo"><s>R$ XXXX,XX</s></p>
                    <p class="preco novo">R$ YYYY,YY</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white" class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="acessorios-3">
                <div class="card tres-dois">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="black">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Gamer</p>
                </div>
                <div class="descricao">
                    <p class="description">Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, Layout US - 4P5E1AA#ABA</p>
                    <p class="preco">R$ XXXX,XX</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white" class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="acessorios-3">
                <div class="card tres-tres">
                    <div id="favorite">
                        <button onclick = colorchange() mat-fab color="black">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    </div>
                </div>
                <div class="tipo"> 
                    <p class="nomeTipo">Gamer</p>
                </div>
                <div class="descricao">
                    <p class="description">Controle Para Ps4 Sem Fio Double Motor Vibration</p>
                    <p class="preco">R$ XXXX,XX</p>
                    <div class="botoes-produtos">
                        <button mat-raised-button class="comprar">Comprar agora</button>
                        <button mat-mini-fab color="accent" color="white"class="carrinho">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>  

        <div class="paginas">
            <div class="tamanho-icones">
                <a href="acessorios" class="icone-1"></a>
            </div>
        </div>

    </div>
</section>
