<section class="banner">
    <h1 class="acessorios">Acessórios</h1>
</section>

<section class="filtro">
    <div class="grid">
        <div class="itens-filtro">
            <div class="alinhar">
                <div> <a href="#" >Organizar por <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
                <div> <a href="#"> <img src="assets/img/Icones/filter.svg" class="filter"> Filtro <img src="assets/img/Icones/arrow-down.svg" class="arrow-down"> </a> </div>
            </div>
        </div>
    </div>
</section>

<section class="produtos">
    <div class="grid alinhamento">
    
        <div class="linha-1">
            <div class="card-1">
                <a href="acessorio1"> <div class="img-1"> 
                    <a href="acessorio1" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Estação Multi Carregamento</p>
                        <p class="subtitulo">Celular</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-2">
                <a href="acessorio2">
                <div class="img-2">
                    <a href="acessorio2" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Carregador de Tomada Apple</p>
                        <p class="subtitulo">Celular</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-3">
                <a href="acessorio3">
                <div class="img-3">
                    <a href="acessorio3" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Controle Kaiser Elite NOX Krom</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-2">
            <div class="card-4">
                <a href="acessorio4">
                <div class="img-4">
                    <a href="acessorio4" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Headset Gamer HyperX Cloud Stinger</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-5">
                <a href="acessorio5">
                <div class="img-5">
                    <a href="acessorio5" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Carregador Portátil Universal Geonav</p>
                        <p class="subtitulo">Celular</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-6">
                <a href="acessorio6">
                <div class="img-6">
                    <a href="acessorio6" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Mousepad Gamer Havit</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>
        </div>

        <div class="linha-3">
            <div class="card-7">
                <a href="acessorio7">
                <div class="img-7">
                    <a href="acessorio7" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Carregador Oivo Charging Dock Station</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco"> <s>R$ xxxx,xx</s> </p>
                        <p class="preco2">R$ yyyy,yy</p>
                    </div>
                </div> </a>
            </div>

            <div class="card-8">
                <a href="acessorio8">
                <div class="img-8">
                    <a href="acessorio8" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Teclado Mecânico Gamer HyperX Alloy</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
            
            <div class="card-2">
                <a href="acessorio9">
                <div class="img-9">
                    <a href="acessorio9" class="botao">Ver produto</a>
                </div>
                <div class="descricao">
                    <div class="titulos">
                        <p class="titulo">Controle Para Ps4 Sem Fio</p>
                        <p class="subtitulo">Gamer</p>
                    </div>
                    <div class="precos">
                        <p class="preco">R$ xxxx,xx</p>
                    </div>
                </div> </a>
            </div>
        </div>
    </div>
</section>

<section class="paginas">
    <div class="alinhamento-paginas">
        <img src="assets/img/Icones/arrow-left.svg" class="seta"> 
        <a href="acessorios"> <p class="pagina1">1</p> </a>
        <a href="#"> <p class="pagina">2</p> </a>
        <a href="#"> <p class="pagina">3</p> </a>
        <img src="assets/img/Icones/arrow-right.svg" class="seta"> 
    </div>
</section>