<script src="assets/js/jquery-3.6.1.js" defer></script>
<script src="assets/js/script.js" defer> </script>

<section class="footer">
    <div class="grid">
        <div class="itensFooter">
            <img class="logomarca" src="assets/img/Footer/gamemania.svg" alt="Logo GameMania">
            <div class="Institucional">
                <h1 class="titlesFooter">Institucional</h1>
                <div class="pColor">
                    <a class=aFooter href="">Contato </a><br>
                    <a class=aFooter href="">Empresa</a> <br>
                    <a class=aFooter href="">Como comprar</a> <br>
                    <a class=aFooter href="">Pagamento</a> <br>
                    <a class=aFooter href="">Assistência técnica</a> <br>
                    <a class=aFooter href="">Políticas de envio</a> <br>
                    <a class=aFooter href="">Política de pré-venda</a> <br>
                    <a class=aFooter href="">Política de privacidade</a>
                </div>
            </div>

            <div class="Atendimento">
                <div class="itens-atendimento"> 
                <h1 class="titlesFooter">Atendimento</h1>
                <div class="pColor">
                    <img class="footer-images" src="assets/img/Footer/telefone.svg"> 1234-5678 <br>
                    <img class="footer-images" src="assets/img/Footer/whatsapp.svg"> 99876-5432 <br>
                    <img class="footer-images" src="assets/img/Footer/telegram.svg"> <a class=aFooter href="">Atendimento via
                        Telegram</a> <br>
                    <img class="footer-images" src="assets/img/Footer/email.svg"> <a class=aFooter
                        href="">atendimento@email.com.br</a>
                    </div>
                </div>
                <hr>
                <p class="aFooter">Atendimento de Segunda a Sexta, das 08:00 as 18:00. </p>
            </div>
            <div id="newsletter" class="newsletter">
                <p class="inscrever">Se inscreva em nossa newsletter <br>para ficar por dentro de novidades!</p>
                <form>
                    <div class="email">
                        <input id="cadastro" type="email" placeholder="Email">
                        <button (click)="inscrever()">Inscreva-se </button>
                    </div>
                </form>
            </div>
        </div>

        <div id="redes-sociais" class="RedesSociais">
            <h1 class="titlesFooter">Redes Sociais</h1>
            <div class="redes">
                <a href="#"><img class="face" src="assets/img/Footer/Facebook.svg"></a>
                <a href="#"><img class="insta" src="assets/img/Footer/Instagram.svg"></a>
            </div>
        
        </div>
    </div>
</section>