.footer {
    height: 347px;
    background-color: black;

    display: flex;
    align-items: center;
}

h2 {
    color: #97C3FF;
    text-transform: uppercase;
    font-size: 20px;

    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.alinhamento {
    display: flex;
    justify-content: space-between;
}

.sobre {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

.contato {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

.icone {
    width: 16px;
}

.alinhar {
    display: flex;
    align-items: center;
}

.ajustes {
    margin: 0;
    padding-left: 11px;
}

.redes{
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.icone2 {
    width: 20px;
}

.ajuda {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

.redes-sociais {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}

.divisao {
    background-color: black;
    height: 69px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: end;
}

.cartoes {
    width: 285px;
    display: flex;
    justify-content: space-between;
}

.linha {
    height: 1px;
    width: 100%;
    background-color: #232323;
}

@media screen and (max-width:1230px) {
    .grid {
        width: 1024px;
    }

    .itensFooter {
        width: 1024px;
    }
}

@media screen and (max-width:1054px) {
    .grid {
        width: 768px;
    }

    .itensFooter {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logomarca {
        width: 140px;
        padding-bottom: 30px;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 950px;
        background-color: black;
    }

    .atendimento {
        display: flex;
        justify-content: center;
        padding-top: 60px;
    }

    #redes-sociais {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.titlesFooter {
    padding: 0;
    padding-top: 20px;
}

.itens-atendimento {
    display: flex;
    align-items: center;
    flex-direction: column;
}

}

@media screen and (max-width:972px) {
    .grid {
        width: 768px;
    }
    
}

@media screen and (max-width:790px) {
    .grid {
        width: 480px;
    }

    .itensFooter {
        width: 480px;
    }
}