.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: black;
}

.itensFooter {
    width: 1200px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.titlesFooter {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #97C3FF;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.pColor {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}

.newsletter {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.inscrever {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 20px;
}

.aFooter {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.email input[type='email'] {
    width: 245px;
    height: 20px;
    float: left;
    border: none;
    padding-left: 15px;
    border-radius: 50px 0 0 50px;
}

.email button {
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
    height: 21px;
}

#redes-sociais {
    display: none;
}

.redes {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    size-adjust: 40px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}

.infos {
    color: white;
}

@media screen and (max-width:1230px) {
    .grid {
        width: 1024px;
    }

    .itensFooter {
        width: 1024px;
    }
}

@media screen and (max-width:1054px) {
    .grid {
        width: 768px;
    }

    .itensFooter {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logomarca {
        width: 140px;
        padding-bottom: 30px;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 950px;
        background-color: black;
    }

    .atendimento {
        display: flex;
        justify-content: center;
        padding-top: 60px;
    }

    #redes-sociais {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.titlesFooter {
    padding: 0;
    padding-top: 20px;
}

.itens-atendimento {
    display: flex;
    align-items: center;
    flex-direction: column;
}

}

@media screen and (max-width:972px) {
    .grid {
        width: 768px;
    }
    
}

@media screen and (max-width:790px) {
    .grid {
        width: 480px;
    }

    .itensFooter {
        width: 480px;
    }
}