<section class="footer">
    <div class="grid alinhamento">

        <div class="logo">
            <img src="assets/img/Footer/logo.svg" class="logo-img">
        </div>

        <div class="sobre">
            <h2>Sobre</h2>
            <a href="#">Empresa</a>
            <a href="#">Política de privacidade</a>
            <a href="#">Assistência técnica</a>
            <a href="#">Acessibilidade</a>
            <a href="#">Trabalhe conosco</a>
            <a href="#">Programa de Pontos</a>
        </div>

        <div class="contato">
            <h2>Contato</h2>

            <div class="alinhar">
                <img src="assets/img/Footer/telephone-fill.svg" class="icone"> <p class="ajustes">(11) 1234-5678</p>
            </div>

            <div class="alinhar">
                <img src="assets/img/Footer/whatsapp.svg" class="icone"> <p class="ajustes">(11) 99876-5432</p>
            </div>

            <div class="alinhar">    
                <img src="assets/img/Footer/telegram.svg" class="icone"> <a class="ajustes" href="#">Atendimento via Telegram</a>
            </div>

            <div class="alinhar">
                <img src="assets/img/Footer/envelope-fill.svg" class="icone"> <p class="ajustes">atendimento@email.com</p>
            </div>
            <br>
            <p>Atendimento de segunda a sexta, das 08:00 as 18:00.</p>
        </div>

        <div class="ajuda">
            <h2>Ajuda</h2>
            <a href="#">Envios</a>
            <a href="#">Trocas</a>
            <a href="#">Métodos de pagamento</a>
            <a href="#">Vale presente</a>
            <a href="#">Rastreio</a>
        </div>

        <div class="redes-sociais">
            <h2>Redes Sociais</h2>
            <div class="redes">
                <a href="#"> <img src="assets/img/Footer/instagram.svg" class="icone2" alt="Instagram"> </a>
                <a href="#"> <img src="assets/img/Footer/facebook.svg" class="icone2" alt="Facebook"> </a>
                <a href="#"> <img src="assets/img/Footer/twitter.svg" class="icone2" alt="Twitter"> </a>
            </div>
        </div>
    </div>
</section>

<div class="linha"></div>

<div class="divisao">
    <div class="grid cards">
        <div class="cartoes">
            <img src="assets/img/Footer/amex.svg" alt="American Express">
            <img src="assets/img/Footer/diners.svg" alt="Diners Club">
            <img src="assets/img/Footer/visa.svg" alt="Visa">
            <img src="assets/img/Footer/mastercard.svg" alt="Mastercard">
            <img src="assets/img/Footer/applepay.svg" alt="Apple Pay">
            <img src="assets/img/Footer/googlepay.svg" alt="Google Pay">
        </div>
    </div>
</div>