.footer {
    height: 347px;
    background-color: black;

    display: flex;
    align-items: center;
}

h2 {
    color: #97C3FF;
    text-transform: uppercase;
    font-size: 20px;

    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.alinhamento {
    display: flex;
    justify-content: space-between;
}

.sobre {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

.contato {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

.icone {
    width: 16px;
}

.alinhar {
    display: flex;
    align-items: center;
}

.ajustes {
    margin: 0;
    padding-left: 11px;
}

.redes{
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.icone2 {
    width: 20px;
}

.ajuda {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

.redes-sociais {
    display: flex;
    flex-direction: column;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}

.divisao {
    background-color: black;
    height: 69px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: end;
}

.cartoes {
    width: 285px;
    display: flex;
    justify-content: space-between;
}

.linha {
    height: 1px;
    width: 100%;
    background-color: #232323;
}

@media screen and (max-width:1470px) {
    .grid {
        width: 1200px;
    }
}

@media screen and (max-width:1245px) {
    .grid {
        width: 900px;
    }

    .logo-img {
        width: 104.37px ;
    }
}

@media screen and (max-width:995px) {
    .grid {
        width: 600px;
    }

    .footer {
        height: 900px;
    }

    .alinhamento {
        align-items: center;
        flex-direction: column;
    }

    .cards {
        justify-content: center;
    }

    .logo {
        margin-bottom: 30px;
    }

    .sobre {
        margin-bottom: 30px;
        text-align: center;
    }

    .contato {
        margin-bottom: 30px;
        text-align: center;
    }

    .alinhar {
        justify-content: center;
    }

    .ajuda {
        margin-bottom: 30px;
        text-align: center;
    }

    .redes-sociais {
        text-align: center;
    }

    .redes {
        width: auto;
    }
}

@media screen and (max-width:630px) {
    .grid {
        width: 360px;
    }
}