<div class="perfil">
    <div class="grid">
        <div class="alinhamento-perfil">

        <div class="moldura-perfil">
            <div class="meuPerfil"><p>Meu perfil</p></div>
            <div class="fotoPerfil"> </div>
            <div class="infos-pessoais"><p>Informações pessoais</p></div>
            <div class="pessoais-infos">
                <p>Nome:</p>
                <p>CPF:</p>
                <p>Nascimento:</p>
            </div>


        </div>


        <div class="alinhamento-2">
        <div class="botoes">
            <a href="" class="meusPedidos">Meus pedidos</a>
            <a href="" class="editarPerfil">Editar Perfil</a>
        </div> 
             
        
        <div class="moldura-contato">
            <div class="contato"><p>Informações para contato</p></div>
            <div class="contato-infos">
                <p>E-mail:</p>
                <p>Telefone:</p>
                <p>Endereço:</p>
            </div>
            
        </div>

        <div class="alinhamento-seguranca">

        <div class="seguranca">Segurança</div>

        <div class="alinhamento-cards-seguranca">

        <a class="moldura-s" href="">
        <div class="moldura-seguranca">
         <img src="assets/img/Perfil/key.svg">
         <p>Mudar senha</p>
        </div>
    </a>

    <a class="moldura-s" href="">
        <div class="moldura-seguranca">
            <a href=""> <img src="assets/img/Perfil/credit.svg"> </a>
            <p>Cartões cadastrados</p>
        </div>
    </a>

        <a class="moldura-s" href="">
        <div class="moldura-seguranca">
            <a href=""> <img src="assets/img/Perfil/map.svg"> </a>
            <p>Meus endereços</p>
        </div>
    </a>

    </div>

    </div>


    </div>
    
    </div>

</div>
</div>